/* whatsapp chat css start */
.social-chat-icons {
    position: fixed;
    inset-inline-end: 2%;
    inset-block-end: 80px;
    z-index: 9;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-chat-icons.active {
    inset-block-end: 9.375rem;
}

.chat-image-shadow {
    filter: drop-shadow(0 0 0.35rem rgba(var(--bs-primary-rgb), 0.3));
}

.lightbox-image {
    max-height: 80vh;
    vertical-align: middle;
}

.img-w-h-100 {
    max-height: 6.25rem;
    width: 6.25rem;
    height: 100%;
    max-width: 100%;
}
/* whatsapp chat css end */

.submit-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 20px; /* Some padding */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}